body {
	background-color: #d9d9d9;
	color: #333333;
}


.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.pull-right .navbar-nav>li>a {
    margin-right: 20px;
}

/* Style of image in content */
#content > p > img {
	display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

