body {
	background-color: #eaeaea;
	color: #333333;
}


.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.pull-right .navbar-nav>li>a {
    margin-right: 20px;
}

/* Style of image in content */
#content > p > img {
	display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-default .navbar-brand {
	color: #dbf2ed;
}

.navbar-default .navbar-brand:hover {
	color: #dbf2ed;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #404040;
}

.navbar-toggle {
    z-index: 3;
}


.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
	background-color: #404040 ;
    border-color: #A1A1A1;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 13px;
	padding-bottom: 13px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #f0525b;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {

}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {


}