.card-title {
	text-align: center;
}

.card-img {
	/*text-align: center;*/
	display: block;
    margin: 0 auto;
    width: 100%;
}

.loadMoreDiv {
	text-align: center;
}

.buyButtonDiv {
	text-align: center;
}

.toIntroDiv{
	text-align: center;
}

.buttonlist {
  display: table;
  width:100%;
}
        
.button-wrapper {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}