{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Artist {% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/main.css' %}"></script>
<script src="{% static 'js/artist.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="artist_app"> 
  <div ng-controller="artistController" ng-init="init({{id}});loadArtistInfo();">
    <div class="row" id="artist">
      <div class="col-sm-12 col-xs-12">
         {% verbatim %}
         <h4> {{artist.title}}</h4> 
         <p>艺术家: {{artist.nickname}} <span style="float:right;">文章/拍摄 溪边艺术</span> </p>
         <img class="card-img" ng-src="{{artist.img_url}}">
         {% endverbatim %}
         <div class="extendBar">
         <div class="toIntroDiv">
            <a class="btn btn-default btn-sm" href="#items">艺术家作品</a>
          </div>
          </div>  

         <br>
         <div id="content" ></div>
         <div class="border-control"></div>
      </div>  
    </div>

    
    <div class="item-top" id="items" name="items">
      <div style="float:left"><h4 id="item-part-title">艺术家作品</h4></div>
      <div class="toIntroDiv">
          <a class="btn btn-default btn-sm" href="#artist">艺术家介绍</a>
      </div>
    </div>
    
    <div ng-repeat="item in artist.items">
      <div class="row">
        {% verbatim %} 
        <div class="col-sm-12 col-xs-12">
          <div class="card">
            <div class="image">
              <img class="card-img" ng-src="{{item.img_url}}">
            </div>
        
        
              <div class="buttonlist">
                <div class="item-info">
                  <p>作品名称: {{item.name}}
                  <br>类型: {{item.type}}
                  <br>价格: {{item.price}}</p>
                </div>  

                <div id="item-button" >
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-dark" href="{{item.buy_link}}"/> 购买 </a>
                    <a class="btn btn-pink" href="/item/?id={{item.id}}"/> 详细信息 </a>
                  </div>

                </div>
           
              {% endverbatim %}
            </div>
          </div>
        </div>
      </div>
        

    </div>
  </div>

</div>
{% endblock %}