{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
  <link rel="stylesheet" href="{% static 'css/itempage.css' %}"></script>
  <script src="{% static 'js/item.js' %}"></script>
{% endblock %}

{% block content %}
<div ng-app="item_app">
<div class="container">  
  <div ng-controller="itemController" ng-init="init({{id}});loadItemInfo();">
    
    <div class="row artist-info-part">
      <div class="col-xs-4">
        <img ng-src="{{item.creator_avatar_url}}" class="img-circle img-avatar">
      </div>

      <div class="col-xs-8">
        <p class="artist-name"> {{item.creator_name}} </p>
        <p> {{item.creator_description}} </p>
      </div>  
    </div>

    <div class="row">
      <div class="col-xs-4">
        <img ng-src="{{item.img_url}}" class="img-preview">
      </div>

      <div class="col-xs-8">
        <p>名称: {{item.name}} <br>
          类型: {{item.type}} <br>
          尺寸: {{item.size}} <br>

          年份: {{item.year}} </p>

        <p class="price">价格: <span style="color: #f0525b;">{{item.price}} RMB </span></p>
      </div>

    </div>

    <div class="row border-control">
    </div> 


    <div class="row">
      <div class="col-sm-12 col-xs-12">
         {% verbatim %} 

        
      <!--
         <img class="card-img" ng-src="{{item.img_url}}">
         <h4 class="card-title" ng-bind="item.name"></h4>  
         <h5 class="card-title">价格: {{item.price}} </h5>

       -->

         <div id="content"></div>
         {% endverbatim %}
         
         <br>
         <br>
         <br>

      </div>  
    </div>
  </div>
</div>

  <div id="fixed-footer" ng-controller="trackController">
    <div class="btn-group btn-group-justified">
      <a href="/artist?id={{item.creator_id}}" class="btn btn-sharp btn-dark" ng-click="trackEvent('click', 'more_from_button', 'artist')">艺术家更多作品</a>
      <a href="{{item.buy_link}}" class="btn btn-sharp btn-pink" ng-click="trackEvent('click', 'buy_button', 'item')">购买</a>
    </div>
  </div>
</div>
{% endblock %}