{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}"></script>
  <script src="{% static 'js/item.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="item_app">  
<div ng-controller="itemController" ng-init="init({{id}});loadItemInfo();">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
       {% verbatim %} 
       <img class="card-img" ng-src="{{item.img_url}}">
       {% endverbatim %}
       <h4 class="card-title" ng-bind="item.name"></h4>  
       <p><span ng-bind="item.description"></span></p>
    </div>  
  </div>  
</div>

<br>
<div class="buyButtonDiv" >
<button id="buyButton" type="button" class="btn btn-default">下单</button>
</div>
</div>
{% endblock %}